# 파이썬 조합 데이터 타입


1. 리스트
2. 딕셔너리
3. 튜플
4. 세트

# 리스트

파이썬에서 리스트는 대괄호([])로 감싸서 선언할 수 있으며, 리스트 안의 요소(element)들은 쉼표(,)로 구분

    리스트명 = [요소1, 요소2, 요소3...]
    변수 = [값1, 값2, 값3...]

In [1]:
list1 = [10, 15.4, "Hello", True]   # 각 저장하는 값들의 타입이 꼭 같을 필요는 없다.

In [2]:
list2 = [10, 20, 30, 40, 50]

In [3]:
print(list1)

[10, 15.4, 'Hello', True]

In [4]:
print(list2)

[10, 20, 30, 40, 50]

### 리스트에서 하나의 값만 가져올 때

리스트명[순서번호]  
순서 번호는 0부터 시작한다.

In [5]:
print(list2[2])

30

In [6]:
print(list1[1])

15.4

### 리스트에서 특정 부분을 가져올 때

하나의 값이 아니라 여러 값을 동시에 가져올 때

리스트명[시작번호:끝번호+1]

In [8]:
print(list1[2:4])

['Hello', True]

In [20]:
list3 = [1,2,3,4,5,6,7,8,9,10]

In [11]:
print(list3[4:8])   # [5,6,7,8]

[5, 6, 7, 8]

In [13]:
print(list3[4])# 5

5

In [14]:
print(list3[1:7])# [2,3,4,5,6,7]

[2, 3, 4, 5, 6, 7]

### 리스트 마지막에 데이터 추가

리스트명.append(값)

In [15]:
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
list3.append(11)

In [22]:
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 리스트 특정 위치에 데이터 추가

리스트명.insert(순서번호, 값)

순서번호는 0부터  

순서번호에 값이 들어가게 된다.

In [23]:
list3.insert(5, 5.5)

In [24]:
print(list3)

[1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 10, 11]

## 리스트 특정 값 삭제

리스트명.remove(값)

In [25]:
list3.remove(5)

In [26]:
print(list3)

[1, 2, 3, 4, 5.5, 6, 7, 8, 9, 10, 11]

### 리스트 특정 위치의 값 삭제

리스트명.pop(순서번호)

In [27]:
list3.pop(4)

5.5

In [28]:
print(list3)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]